.modal{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
.modal.active {
    opacity: 1;
    pointer-events: none;
   
}
.modal__content {
    padding: 20px;
    border-radius: 12px;
    background-color: #ffffff;
    width: 400px;
    height: 200px;
    font-size: 18pt 
}
.button {
    border-radius: 20px 20px 0 0  ;
    border: 2px solid white;
    width: 150px;
    background-color: #d1e7ff;
    font-size: 14 pt;
    pointer-events: all;
}
.button:hover {
    background-color: #d1fff9;
    
}