div {
    font-size: 16pt;
    border-radius: 5px;
    margin: 5px;   
}
#container {
    display: flex;
    flex-direction: row;
}
#usersList {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0;
}
#userView {
    display: none;
    min-width:auto;
    margin-left: 20px;
    border: 0;
}
button {
    border-radius: 5px;
    min-height: 20px;
    min-width: 50px;
    background-color: #e1f2ee;
    margin: 5px;
    float: right;
}
form[name = "userEdit"] {
    display: none;
}